@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.App {
  box-sizing: border-box;
  text-align: center;
  height: 500px;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 150px);
  font-family: 'Nunito', sans-serif;
}